<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="/confirmation" method="POST">

    <label>Name</label>
    <label>
    <input type = "text" name = "name">
    </label>

<label>City</label>
    <label>
    <input type = "text" name = "city">
    </label>

<label>Phone Number</label>
    <label>
    <input type = "text" name = "phone_number">
    </label>
     <label>
    <input type = "submit" value = "Register">
     </label>
    </form>
</body>
</html>
